body {
    background-color: #3a6cd8;
    /*owerflow:hidden;*/
    /*overflow-y: scroll;*/
}
@font-face {
    font-family: capsula;
    src: url("../../resources/font.ttf");
}
div.main_box {
    width: 70%;
    height:100%;
    margin:auto;
    /*background-color:grey;*/
    /*border:1px solid black;*/
    position:relative;
}
#logo{
    margin-top: 20%;
    width:100%;
    background-image: url("../../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    display:block;
}
#level_big{
    padding: 15px;
    z-index: 5000;
    margin-left:auto;
    margin-right: auto;
    /*margin-top: -100px;*/
    border: 7px solid white;
    background-color: #e74a3f;
    display:block;
    width:30vh;
    height:30vh;

    -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
         box-shadow: 0 11px 0px -6px rgba(0,0,0,0.3);
}
#overmap{
    width:90%;
    height:35vh;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
    margin-top:20px;
    left:0px;
    top:0px;
    z-index:0;
    border: 5px solid white;
    background-image: url('../../images/world_map.png');
    background-size: contain;
    background-repeat: no-repeat;

    -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
         box-shadow: 0 11px 0px -6px rgba(0,0,0,0.3);
}
#shoe_box{
    width:54%;
    height:12%;
    /*background-color:black;*/
    margin-left:auto;
    margin-right:auto;
    display:block;
    overflow:hidden;
    /*z-index:-1;*/
}
#history_annotation{
    width:80%;
    margin-top:5%;
    font-family: capsula;
    color:white;
    font-size:200%;
    opacity:0;
}
.canvas_history{
    width:80%;
    margin:auto;
    border: 4px solid white;
    -webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
         box-shadow: 0 11px 0px -6px rgba(0,0,0,0.3);

     margin-top: 10%;
     margin-bottom:5%;
}
#top.canvas_history{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#472a08+1,c17217+42,c17217+42,ff981d+100 */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a05e13+0,c17217+3,ff981d+100 */
    background: #a05e13; /* Old browsers */
    background: -moz-linear-gradient(top,  #a05e13 0%, #c17217 3%, #ff981d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #a05e13 0%,#c17217 3%,#ff981d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #a05e13 0%,#c17217 3%,#ff981d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a05e13', endColorstr='#ff981d',GradientType=0 ); /* IE6-9 */

}
#mid.canvas_history{
    background-color:#18b256;
}
#bot.canvas_history{
    background-color:#99aabc;
}
div.element_holder{
    height: 88%;
    width: 54%;
    margin-left:auto;
    margin-right:auto;
    background-image: url("../../images/bg.png");
    display:block;
    overflow:hidden;
}
div.main_window{
    width:20%;
    height:100%;
    margin:auto;
    display:inline;
}
#histogram{
    position:absolute;
    top:0px;
    right:0px;
    pointer-events: none;
    overflow-y:scroll;
    overflow-x: hidden;
}
#left_block{
    float:left;
    width:20%;
    height:100%;
    padding-right: 3%;
    display:inline-block;
    font-family: capsula;
    text-align: right;
    color:white;
    font-size:200%;
    /*background-color: red;*/
}
#right_block{
    padding-leftt : 3%;
    float:right;
    width:20%;
    height:100%;
    /*background-color:red;*/
    display:inline-block;
}
#progressbar{
    width:28vh;
    height: 1.4vh;
    transform:translateY(-80px);
    margin-left: auto;
    margin-right:auto;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: rgba(255,255,255,0.35);
    display:block;
}
#main_view{
    z-index: -1;
    width: 100%;
    transform:translateY(-80px);
    /*background-color:red;*/
    border-spacing: 25px;
}
