body {
    background-color: #0198E1;
    /*owerflow:hidden;*/
    /*overflow-y: scroll;*/
}
div.main_box {
    width: 80%;
    margin:auto;
    /*background-color:grey;*/
    border:1px solid black;
    position:relative;
}
#level_big{
    padding: 15px;
    z-index: 8;
    margin:auto;
    border: 1px solid white;
    background-color: black;
}
#progressbar_outer{
    width:196px;
    height:32px;
    display:block;
    margin:auto;
    border: 1px solid black;
    margin-bottom:20px;
    background-color:blue;
}
#histogram{
    position:absolute;
    top:0px;
    right:0px;
    width:20%;
    height: 100%;

    /*float:right;*/
    border:1px solid black;
    pointer-events: none;
    overflow-y:scroll;
    overflow-x: hidden;
}
#progressbar_inner{
    width:0px;
    height:100%;
    float:left;
    display:block;
    background-color: green;
}
#overmap{
    width:505px;
    height:344px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:20px;
    magin-top:20px;
    left:0px;
    top:0px;
}
#marker_annotation{
    padding:1px;
    position:absolute;
    z-index:2000;
    background:rgba(255,255,255,0.5);
    border: 1px solid black;
}
#exit{
    width: 64px;
    height:64px;
    position:absolute;
    top:0px;
    right:0px;
    background-image: url('../images/close.png');
    background-repeat:no-repeat;
    background-size:contain;
    z-index: 2000;
}
#map_div{
    width: 110px;
    height:110px;
}
#main_view{
    width: 100%;
    /*background-color:red;*/
    border-spacing: 25px;
}
canvas {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 245px;
    height:245px;
}
div#id_holder {
    width:100%;
    text-align: center;
}
div#button_holder{
    width:100%;
    text-align: center;
}
